.taskDone{
    text-decoration: line-through;
    
    
    
}

.taskToDo{
    text-decoration: none;
    
    
    
}

ul .li{
    list-style-type: none;
    
}


ul .li:hover, span i:hover{
    cursor:pointer;
}