.taskDone{
    text-decoration: line-through;
    border-left: 5px solid green;
    color:green;
    
    
    
    
}

.taskToDo{
    text-decoration: none;
    border-left: 5px solid red;
    color:red;
    
    
    
    
}

ul .li{
    list-style-type: none;
    
}


ul .li:hover, span i:hover{
    cursor:pointer;
}